# Virtual environments
mdm_env/
env/
venv/

# IDE
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx
Formula.txt

# Optional specific ignores
Translator.ipynb